<%= render 'head' %>

<%= render 'left' %>

<div class="content">

  <div class="container-fluid">
    <div id="pad-wrapper">
      <div><h2>管理员</h2></div>
      <br/>
      <%= render 'form' %>

    </div>
    <%= link_to '返回', admins_path, class: "btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
  </div>
</div>
</div>