<div class="navbar navbar-inverse">
  <div class="navbar-inner">

    <a class="brand" href="index.html"><img src="img/logo.png" /></a>

    <ul class="nav pull-right">


      <li class="dropdown">
        <a href="#">
          Your account
        </a>
      </li>
      <li class="settings hidden-phone">
        <a href="signin.html" role="button">
          <i class="icon-share-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</div>