<!-- sidebar -->
<div id="sidebar-nav">
  <ul id="dashboard-menu">
    <li>
      <a href="index.html">
        <div class="pointer">
          <div class="arrow"></div>
          <div class="arrow_border"></div>
        </div>
        <i class="icon-home"></i>
        <span>首页</span>
      </a>
    </li>

    <li>
      <a class="dropdown-toggle" href="#">

        <i class="icon-edit"></i>
        <span>管理员</span>
        <i class="icon-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li><a href="/admins">管理员列表</a></li>
        <li><%= link_to ' 新建管理员','data-no-turbolink'=>true%></li>
      </ul>
    </li>
    <li>
      <a class="dropdown-toggle" href="#">
        <i class="icon-group"></i>
        <span>人员</span>
        <i class="icon-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li><a href="/personnels">人员列表</a></li>
        <li><%= link_to ' 人员录入', new_personnel_path,'data-no-turbolink'=>true%></li>
        <li><a href="user-profile.html">相关查询</a></li>
      </ul>
    </li>
    <li>
      <a href="tables.html">

        <i class="icon-th-large"></i>
        <span>Tables</span>
      </a>
    </li>

    <li>
      <a class="dropdown-toggle ui-elements" href="#">

        <i class="icon-code-fork"></i>
        <span>项目类型</span>
        <i class="icon-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li><a href="ui-elements.html">项目类型列表</a></li>
        <li><a href="icons.html">项目类型设置</a></li>
      </ul>
    </li>

    <li>
      <a class="dropdown-toggle ui-elements" href="#">

        <i class="icon-code-fork"></i>
        <span>业绩表</span>
        <i class="icon-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li><a href="ui-elements.html">业绩列表</a></li>
        <li><a href="icons.html">业绩录入</a></li>
      </ul>
    </li>

    <li>
      <a class="dropdown-toggle" href="#">

        <i class="icon-share-alt"></i>
        <span>Extras</span>
        <i class="icon-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li><a href="code-editor.html">Code editor</a></li>
        <li><a href="grids.html">Grids</a></li>
        <li><a href="signin.html">Sign in</a></li>
        <li><a href="signup.html">Sign up</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- end sidebar -->